<% include partials/header.ejs %>
        
        <!-- Jumbotron  -->
        <div class="container">
            <div class="jumbotron" style="margin:20px 0px">
                <h1 class="display-4"> Welcome to the Famous Blog </h1>
                <p class="lead"> Read from day to day blogs that I post.</p>
                <hr class="my-4">
                <p>Yah this is my blog. How do you fare?</p>
                <p class lead="lead">
                    <a class="btn btn-primary" href="#" role="button">Learn more</a>
                </p>
            </div>
        </div>
        
<% include partials/footer.ejs %>
        
        
       
        



